.footer {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.icons {
  margin-bottom: 20px;
}

.icons a {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-text {
  margin-top: 20px;
}