body {
  margin: 0;
}

.header {
  background-color: rgb(69, 66, 66);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.logo {
  width: 120px;
  height: 80px;
}

.title {
  margin-left: 10px;
  font-size: 24px; 
}

.search-container {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 15px;
}

.search-input {
  border-radius: 15px;
  width: 100%; 
  min-width: 300px;
  max-width: 500px;
}

@media (max-width: 998px) {
  .title {
    display: none;
  }

  .search-input {
    min-width: 110px;
    max-width: 200px;
  }

  .logo {
    width: 90px;
    height: 60px;
  }
}