.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
}

.menu-web {
  display: flex; 
}

.menu-mob {
  display: none; 
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background-color: #333;
  padding: 20px;
  z-index: 1000;
}

.menu-mob.active {
  display: block; 
}

.nav-list {
  color: white;
  display: flex; 
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
  flex-direction: column; 
}

.nav-item {
  margin: 10px 0; 
}


@media (min-width: 999px) {
  .nav-list {
      flex-direction: row; 
  }

  .nav-item {
      margin: 0 15px; 
  }

  .ham-menu {
      display: none; 
  }
}


.ham-button {
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 998px) {
  .menu-web {
      display: none; 
  }

  .ham-menu {
      display: block; 
      order: 2; 
      
  }

  .menu-mob {
      display: block; 
  }

  
  .nav-list {
    color: white;
      flex-direction: column; 
      margin: 0; 
  }
}


.cart-container {
  margin-left: 20px; 
  order: 1; 
  color: white;
}

.cart-count {
  margin-left: 4px; 
  font-weight: bold; 
}

.cart-count.red {
  color: red; 
}
